<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ccfae47948.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <title>편의 기능</title>
    <link rel="stylesheet" href="/css/board.css">
    <style>
        .bus-timetable {
            position: relative;
            display: inline-block;
        }

        /*.new-text-box {*/
        /*    position: absolute;*/
        /*    top: 75px;*/
        /*    right: 140px;*/
        /*    !*padding: 10px;*!*/
        /*    !*border: 1px solid #ccc;*!*/
        /*    box-sizing: border-box;*/
        /*    max-width: calc(100% - 40px);*/
        /*    overflow-wrap: break-word;*/
        /*    width: 250px;*/
        /*    !* 원하는 너비로 조정합니다 *!*/
        /*    height: 100px;*/
        /*    !* 원하는 높이로 조정합니다 *!*/
        /*}*/

        /*.overlay-content {*/
        /*    position: relative;*/
        /*    z-index: 1;*/
        /*    text-align: right;*/
        /*    text-indent: 20px;*/
        /*}*/
    </style>
</head>
<body>

<!-- 상단 바 -->
<nav class="navbar">
    <div class="navbar_logo">
        <a href="/">
            <a href="/" style="font-weight: bold">한서 교내버스</a>
        </a>
    </div>
    <div class="menu-conatiner">
        <ul class="menu">
            <a href="/map_user">
                <li style="font-weight: bold">Map</li>
            </a>
            <a href="/timetable">
                <li style="font-weight: bold">Timetable</li>
            </a>
        </ul>

    </div>
</nav>
<!--new test***************************************************-->
<div class="weather">
    <div class="CurrIcon"></div>
    <div class="CurrTemp"></div>
<!--    <div class="City"></div>-->
</div>




<!--테스트 ( 6/13)*************************************************** -->
<!--<div class="new-text-box">-->
<!--    <div class="overlay-content">-->
<!--        <i id="weather-icon" class="fa-sharp fa-solid" ></i>-->
<!--        <td id="weather-text" th:text="${weather}"></td><br>-->
<!--        <td id="temperature-text" th:text="'현재온도: ' + ${temp} + '°'"></td><br>-->
<!--        <td id="rainfall-text" th:text="'강수량: ' + ${rainfall} + 'mm'"></td><br>-->
<!--        <td id="time-text" th:text=" '예상 지연시간: '+ ${time} + '분'"></td>-->
<!--    </div>-->
<!--</div>-->



<!--<script>-->
<!--    document.addEventListener("DOMContentLoaded", function () {-->
<!--        let weather = '맑음' //실제 날씨값을 할당한다, 야매로 이런식으로 우리가 수정해서 넣을수 있음,,-->

<!--        // HTML에서 요소를 선택합니다.-->
<!--        let weatherElement = document.querySelector('.overlay-content td:nth-child(1)');-->

<!--// weather 값을 가져옵니다.-->
<!--//     let weather = weatherElement.textContent;-->
<!--        let weatherIcon = document.getElementById("weather-icon")-->

<!--        let iconClass;-->
<!--        //날씨에 따른 아이콘 변화-->
<!--        if (weather === 'sunny' || weather === "맑음"){-->
<!--            iconClass = "fa-sharp fa-solid fa-sun"-->
<!--        }else if (weather === 'cloudy' || weather === "흐림"){-->
<!--            iconClass = "fa-sharp fa-solid fa-clouds"-->
<!--        }else if (weather === 'rainy' || weather === "비"){-->
<!--            iconClass = 'fa-sharp fa-solid fa-cloud-showers-heavy'-->
<!--        }else {-->
<!--            iconClass = 'fa-sharp fa-solid fa-question'-->
<!--        }-->

<!--        weatherIcon.classList = iconClass-->
<!--    });-->
<!--</script>-->


<!--테스트 ( 6/13) ***************************************************-->
<div class="board_wrap">
    <div class="board_title">
        <strong>편의 기능</strong>
    </div>

    <div class="board_list_wrap">
        <div class="category">
            <!-- <div class="top">-->
            <!-- <div class="num">번호</div>-->
            <!-- <div class ="title">제목</div>-->
            <!-- </div>-->
            <div class="katalk">
                <!-- <div class="katalk"></div>-->
                <a
                        href="https://open.kakao.com/o/gWWcPTvd"
                        target="_blank"
                        alt="카카오톡 한서대학교 카풀 오픈채팅방">
                    <img src="/css/img/katalk.png" width="300px">
                </a>

            </div>
        </div>
        <div class="category">
            <div class="news">
                <!-- <div class="num">3</div>-->
                <a href="https://news.naver.com/" target="_blank" alt="네이버 뉴스">
                    <img src="/css/img/news.png" width="300px">
                </a>
            </div>
        </div>
        <div class="category">
            <div class="book">
                <!-- <div class="num">2</div>-->
                <a
                        href="https://hsu.busro.net:456/rsvc/"
                        target="_blank"
                        alt="한서대학교 셔틀버스 예매 페이지">
                    <img src="/css/img/book.png" width="300px">
                </a>
            </div>
        </div>
        <div class="category">
            <div class="everytime">
                <!-- <div class="num">1</div>-->
                <a href="https://hanseo.everytime.kr/" target="_blank" alt="에브리타임 한서대학교">
                    <img src="/css/img/everytime.png" width="300px">
                </a>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>

<script type="text/javascript">

    $(document).ready(function() {
        let weatherIcon = {
            '01' : 'fas fa-sun',
            '02' : 'fas fa-cloud-sun',
            '03' : 'fas fa-cloud',
            '04' : 'fas fa-cloud-meatball',
            '09' : 'fas fa-cloud-sun-rain',
            '10' : 'fas fa-cloud-showers-heavy',
            '11' : 'fas fa-poo-storm',
            '13' : 'far fa-snowflake',
            '50' : 'fas fa-smog'
        };

        $.ajax({

            url:"http://api.openweathermap.org/data/2.5/weather?q="+'seosan'+"&appid="+"c98216fdd5f29bb8103a673be31e42a9",

            dataType:'json',
            type:'GET',
            success:function(data){
                let $Icon = (data.weather[0].icon).substr(0,2);
                let $Temp = Math.floor(data.main.temp - 273.15) + 'º';
                let $city = data.name;

                $('.CurrIcon').append('<i class="' + weatherIcon[$Icon] +'"></i>');
                $('.CurrTemp').prepend($Temp);
                $('.City').append($city);
            }
        })
    });
</script>
</body>
</html>