<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">
  <title>시간표</title>
  <link rel="stylesheet" href="/css/timetable.css">
  <script src="https://kit.fontawesome.com/ccfae47948.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar">
  <div class="navbar_logo">
    <a href="/">
      <a href="/" style="font-weight: bold">한서 교내버스</a>
    </a>
  </div>
  <div class="menu-conatiner">
    <ul class="menu">
      <a class="map" href="/map_user">
        <li style="font-weight: bold">Map</li>
      </a>
      <a class="Emergency" href="/board">
      <li style="font-weight: bold">Emergency</li>
      </a>
    </ul>
  </div>
</nav>

<h1>버스 시간표</h1>
<table>
  <thead>
  <tr>
    <th>출발 시각</th>
    <th>도착 시각</th>
    <th>알림</th>
  </tr>
  </thead>
  <tbody style="font-weight: bold;">
  <!--시간표 도착시간은 50분으로 짜놈-->
  <!-- 알림받기 부분은 일단은 링크 대충 저렇게 걸어놈 -->
  <tr>
    <td>날씨 정보</td>
    <td th:text="'강수량: ' + ${rainfall}"></td>
    <td th:text="'날씨: ' + ${weather}"></td>
  </tr>
  <tr>
    <td th:text="'현재온도: ' + ${temp}"></td>
    <td th:text=" '지연시간: '+ ${time}"></td>
    <td><a href="https://www.naver.com" target="_blacnk">test</a></td>
  </tr>
  <tr>
    <td>13 : 10</td>
    <td>테스트 알림 버튼</td>
    <td><a href="/Web_Push" target="_blacnk">알림 받기</a></td>
  </tr>
  <tr>
    <td>16 : 10</td>
    <td>17 : 00</td>
    <td><a href="https://www.naver.com" target="_blacnk">알림 받기</a></td>
  </tr>
  <tr>
    <td>17 : 20</td>
    <td>18 : 10</td>
    <td><a href="https://www.naver.com" target="_blacnk">알림 받기</a></td>
  </tr>
  <tr>
    <td>18 : 10</td>
    <td>19 : 00</td>
    <td><a href="https://www.naver.com" target="_blacnk">알림 받기</a></td>
  </tr>
  </tbody>
</table>
<nav class="underbar">
  <div class="under_logo">
    <li><i title="sonprogrammer" class="fa-brands fa-instagram"></i></li>
    <li><i title="010-3975-5037" class="fa-solid fa-phone"></i></li>
  </div>
</nav>
</body>
</html>



